/* Global Styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(1.5rem + 1vw);
  --header2: calc(24px);
  --header3: calc(20px);
  --header4: calc(2rem + 1vw);
  --text: calc(2rem);
  --big: calc(6rem + 1vw);
  --main-color: #fff;
  --red-text: #c7013f;
  --green: green;
  --background-color: #414141;
  --gray-text: #525252;
  --yellow-text: #ffc209;
  --yellow-text-dark: #947d38;
  --blue-text: #3280d0;
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: var(--header1);
}
h2 {
  font-size: var(--header2);
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 1.25;
  overflow-wrap: break-word;
  word-break: break-word;
}
h3 {
  font-size: var(--header3);
  color: var(--red-text);
}
h4 {
  font-size: var(--header4);
}

li,
button,
label,
a,
p {
  font-size: var(--text);
  /* line-height: 24px; */
  color: var(--main-color);
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.yellow-text {
  color: var(--yellow-text);
}

.blue-text {
  color: var(--blue-text);
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
}

/* Left Side  */

.container {
  background: url("./images/image-left.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  flex: 1 1 0;
}

img#logo {
  width: 120px;
}

.company-info {
  width: 100%;
  background: #41414162;
  height: 150px;
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

/* Right Side  */

#right-section {
  height: 100vh;
  background-color: #414141;
  align-items: flex-start;
  flex: 2 1 0;
}

.top-text {
  padding: 2% 10%;
}

.top-text p {
  font-size: 3rem;

  margin-bottom: 3rem;
}

.form-box {
  background: rgb(117, 117, 117);
  width: 100%;
  padding: 2% 10%;
}

.form-box p {
  font-size: 3rem;
  margin-bottom: 3rem;
}

form {
  width: 400px;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  /* row-gap: 20px; */
}
.inputs label {
  margin-bottom: 0.2rem;
}

.inputs input {
  width: 250px;
  border-radius: 4px;
  border: 2px solid gray;
  font-size: 16px;
  color: #636363;
  padding: 1rem;
  outline: none;
}

input:focus-visible,
input:hover {
  border: 2px solid var(--blue-text);
  box-shadow: rgba(50, 52, 54, 0.318) 0px 8px 24px;
}

.form-box p {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bottom-text {
  padding: 2% 10%;
  font-size: 1rem;
}

button {
  padding: 2rem 4rem;
  border-radius: 4px;
  background-color: var(--yellow-text);
  border: none;
  box-shadow: rgba(50, 52, 54, 0.318) 0px 8px 24px;
  margin-bottom: 2rem;
  color: #000;
}

button:hover {
  padding: 2rem 4rem;
  border-radius: 4px;
  background-color: var(--yellow-text);
  border: none;
  box-shadow: rgba(50, 52, 54, 0.318) 0px 8px 24px;
  margin-bottom: 2rem;
  color: #000;
}

label,
.label-strength {
  margin-top: 3rem;
}

.input-icon-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.input-icon-container input {
  color: inherit;
  flex: auto 1 1;
  width: 100%;
}

.input-icon-container i {
  background-color: #fff;
  font-size: 16px;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.error {
  border: 2px solid var(--red-text) !important;
}

.success {
  border: 2px solid var(--green) !important;
}

.label-strength {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.password-label {
  flex: 1 1 1;
  margin: 0;
}

.strength-bar {
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 3px;
  width: 100%;
}

.weak {
  background-color: var(--red-text);
  width: 20%;
}

.medium {
  background-color: orange;
  width: 40%;
}

.strong {
  background-color: rgb(64, 187, 64);
  width: 70%;
}
